* {
    margin: 0;
    padding: 0;
}

body {
    background-color: pink;
}

h1 {
    margin: 20px;
}

nav {
    background-color: white;
    display: flex;
    justify-content: flex-end;
    margin-left: 10%;
    margin-right: 10%;
}

button {
    background: #f98561;
    padding: 10px 50px 10px 50px;
    border-radius: 5px;
    border-color: #f98561;
    color: #fff1d1;
    font-size: 20px;
    margin: 50px;
    border-style: solid;
}

header {
    position: relative;
    text-align: center;
    margin: 0px;
    padding: 0px;
    border: none;
}

#header-content {
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    color: #cccece;
    transform: translate(-50%, -50%);
}

#header {
    width: 100%;
    margin: 0px;
    padding: 0px;
}

/* main {
    padding-left: 10%;
    padding-right: 10%;
} */

/* Services section start  */

#services {
    /* display: flex; */
    /* justify-content: center; */
    /* width: 100%; */
    background-color: #f4f4f4;
    /* padding: 50px 0px 50px 0px; */
    /* text-align: left; */
    /* color: #4c535e; */
}

#services h2 {
    font-family: "Ubuntu", sans-serif;
    color: white;
    margin: 0 auto;
    width: 9%;
    background-color: #2190c1;
    font-size: 18px;
    text-align: center;
    padding: 10px;
    border-radius: 5px;
    position: relative;
    bottom: 25px;
}
.block {
    display: flex;
    padding: 0 10%;
    text-align: center;
    justify-content: space-between;
    color: #515862;
    padding-bottom: 40px;
    font-family: "Ubuntu", sans-serif;
}

.item h3 {
    margin-bottom: 10px;
}
.item p {
    padding: 0 10%;
}

.item a {
    color: #2190c1;
    text-decoration: none;
}

.item img {
    width: 58%;
    /* padding: 20px; */
}

.item {
    max-width: 20%;
    /* padding: 50px; */
}

/* services section end  */

/* portfolio css start */

#portfolio {
    /* display: flex; */

    background-color: #2e3e4f;
    width: 100%;
}

#porfolio-header {
    display: flex;
    justify-content: space-between;
    padding: 50px 10%;

    background: #2e3e4f;
}
#porfolio-header h2 {
    font-family: "Ubuntu Condensed", sans-serif;
    font-size: 25;
    color: #f98561;
    margin-left: 0;
}

#porfolio-header a {
    font-family: "Ubuntu", sans-serif;
    line-height: 40px;
    text-align: center;
    width: 100px;
    height: 40px;
    color: white;
    background-color: #2190c1;
    border-radius: 5px;
    text-decoration: none;
}

.portfolio-block {
    font-family: "Ubuntu", sans-serif;
    display: flex;
    /* width: 100%; */
    justify-content: space-between;
    padding: 0 10%;

    color: #bcbcbc;
    text-align: left;
}
.something h3 {
    color: #f98561;
    margin: 10px 0;
}

.something {
    width: 30%;
    padding-bottom: 80px;
}

.something img {
    width: 100%;
}
/* portfolio css end  */

.offer {
    background-color: #f4f4f4;
}

#more {
    background-color: blue;
    border-radius: 5px;
    padding: 4px;
}

h3 {
    margin: 20px;
}

#footer {
    display: flex;
    justify-content: space-between;

    background-color: #2e3e4f;
    width: 100%;
}

footer h3 {
    color: #ee805f;
}
